<div class="container">
    <h1>Subscribe To Our Newsletter</h1>
    <form action="">
        <input type="email" placeholder="Email" name="email">
        <button class="button_1 subscribe_button">Subscribe</button>
    </form>
</div>