<div class="user_card">
    <div class="user_photo">
        <img src="https://via.placeholder.com/150" alt="">
    </div>

    <div class="user_info">
        <h3>Orji Chidi <span style="color:green">&#x2714</span></h3>
        <p><a href="mailto:email@address.com">email@address.com</a></p>
        <p><a href="tel:+2341234567890">+2341234567890</a></p>
    </div>

    <div class="user_address">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget risus odio</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget risus odio</p>
    </div>
</div>
