<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.ejs %>
        </header>
        
        <section id="newsletter">
            <% include ./partials/news.ejs %>
        </section>
        
        <section id="main_about">
            <div class="container">
                <h1 id="page_title">About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed urna vel arcu sagittis blandit. Nulla convallis nisi nec dignissim facilisis. Suspendisse sed sem nulla. Mauris placerat faucibus ipsum, vel malesuada nisl aliquet egestas. Ut ut risus pulvinar ex vestibulum tempus quis a arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim interdum, pretium tellus quis, congue lorem. Sed sollicitudin lacinia lorem, sit amet lobortis eros. Mauris et felis consequat, facilisis leo eget, fringilla orci. Aliquam id lacus augue. Integer ut ultricies enim.</p>
            </div>
        </section>

        <% include ./partials/footer.ejs %>        
    </body>
</html>
