<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.ejs %>
        </header>

        <section id="showcase">
            <div class="container">
                <h1>Accessible and affordable business funds</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed urna vel arcu sagittis blandit. Nulla convallis nisi nec dignissim facilisis. Suspendisse sed sem nulla. Mauris placerat faucibus ipsum, vel malesuada nisl aliquet egestas. Ut ut risus pulvinar ex vestibulum tempus quis a arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim interdum</p>
            </div>
        </section>
        
        <section id="newsletter">
            <% include ./partials/news.ejs %>
        </section>
        
        <section class="info_section" id="first_info_section">
            <div class="container">
                <h3>Grow your business</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed urna vel arcu sagittis blandit. Nulla convallis nisi nec dignissim facilisis. Suspendisse sed sem nulla. Mauris placerat faucibus ipsum, vel malesuada nisl aliquet egestas. Ut ut risus pulvinar ex vestibulum tempus quis a arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim interdum</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </section>
        
        <section class="info_section">
            <div class="container">
                <h3>Accessible funds</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed urna vel arcu sagittis blandit. Nulla convallis nisi nec dignissim facilisis. Suspendisse sed sem nulla. Mauris placerat faucibus ipsum, vel malesuada nisl aliquet egestas. Ut ut risus pulvinar ex vestibulum tempus quis a arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim interdum</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </section>
        
        <section class="info_section">
            <div class="container">
                <h3>Affordable payment options</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed urna vel arcu sagittis blandit. Nulla convallis nisi nec dignissim facilisis. Suspendisse sed sem nulla. Mauris placerat faucibus ipsum, vel malesuada nisl aliquet egestas. Ut ut risus pulvinar ex vestibulum tempus quis a arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim interdum</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </section>
        
        <section class="info_section">
            <div class="container">
                <h3>Peace of mind</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed urna vel arcu sagittis blandit. Nulla convallis nisi nec dignissim facilisis. Suspendisse sed sem nulla. Mauris placerat faucibus ipsum, vel malesuada nisl aliquet egestas. Ut ut risus pulvinar ex vestibulum tempus quis a arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim interdum</p>
                <p><a href="#">Learn more</a></p>
            </div>
        </section>

        <% include ./partials/footer.ejs%>
    </body>
</html>
