<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.auth.ejs %>
        </header>
        
        <section id="main_loan">
            <div class="container">
                <!--show the checkmark only if the load has been repaid-->
                <div class="page_heading">
                    <h1>Loan | <code>loan id</code>
                        <span
                            title="Approve loan"
                            class="action_span" id="approve_loan_application" style="color:green">&#10004;</span>
                        <span
                            title="Reject loan"
                            class="action_span" id="reject_loan_application" style="color:red">&#10006;</span>
                        <span
                            title="Post payment to loan"
                            class="action_span" id="post_payment_to_loan"
                        style="color:green"
                        onclick="document.getElementById('loan_payment_modal').style.display='block'">&#8358;</span>
                    </h1>
                </div>

                <div class="loan_grid">
                
                    <div class="loan_grid_1">
                        <% include ./partials/user.card.ejs %>
                    </div>

                    <div class="loan_grid_2 loan_card">

                        <div class="loan_status">
                            <h2>Approved</h2>
                        </div>

                        <div class="loan_amount">
                            <p>Amount: 50,000</p>
                        </div>

                        <div class="loan_tenor">
                            <p>Tenor: 12 months</p>
                        </div>
                        
                        <div class="loan_interest">
                            <p>Interest: 2,500</p>
                        </div>

                        <div class="loan_installments">
                            <p>Installments: 4,375</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="loan_payment_modal" class="modal">
            <span class="close" onclick="document.getElementById('loan_payment_modal').style.display='none'">&times;</span>
            <form action="" class="modal_content">
                <div class="container">
                    <h3>Post payment to loan <code>123456789</code></h3>
                    <hr>
                    <label for="payment_amount"><b>Amount</b></label>
                    <input class="modal_input" type="text" placeholder="Enter payment amount" name="payment_amount" required>

                    <div class="clearfix">
                        <button
                            onclick="document.getElementById('loan_payment_modal').style.display='none'"
                            class="button_1 shadowed_button cancel_button">
                            Cancel
                        </button>
                        <button type="submit" class="button_1 shadowed_button save_profile_button">Post payment</button>
                    </div>
                </div>
            </form>
        </div>

        <% include ./partials/footer.ejs%>
        <script src="/js/qcredit.js"></script>
    </body>
</html>
