<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.auth.ejs %>
        </header>
        
        <section id="main_users">
            <div class="container">

                <div class="top_grid_container">
                    <div class="username">
                        <h1 id="page_title">Loans</h1>
                    </div>

                    <div class="user_buttons">
                        <button
                            class="button_1 shadowed_button"
                        >
                            Show open loans
                        </button>

                        <button
                            class="button_1 shadowed_button"
                        >
                            Show closed loans
                        </button>
                    </div>
                </div>

                <div class="table_wrapper">
                    <table>
                        <tr>
                            <th>S/N</th>
                            <th>User</th>
                            <th>Application date</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Interest</th>
                            <th>Repaid</th>
                            <th>Installments</th>
                            <th>Balance</th>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>email@address.com</td>
                            <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                            <td>Pending</td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>email@address.com</td>
                            <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                            <td style="color:green">Approved</td>
                            <td>50,000</td>
                            <td>2,500</td>
                            <td>No</td>
                            <td>4,375</td>
                            <td>50,000</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>email@address.com</td>
                            <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                            <td style="color:red">Rejected</td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                        </tr>
                    </table>
                </div>

            </div>
        </section>

        <p><% include ./partials/footer.ejs </p>%>
    </body>
</html>
