<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.auth.ejs %>
        </header>
        
        <section id="main_loan">
            <div class="container">

                <div class="top_grid_container">
                    <!--show the checkmark only if the load has been repaid-->
                    <div class="username">
                        <h1 id="page_title">Loan | <code>123456789</code> <span style="color:green">&#x2714</span></h1>
                    </div>

                    <div class="user_buttons">

                        <!--Approve and reject buttons will be visible only if the loan status is pending-->
                        <button
                            id="approve_loan_application"
                            class="button_1 shadowed_button approve"
                        >
                            Approve
                        </button>

                        <button
                            id="reject_loan_application"
                            class="button_1 shadowed_button reject"
                        >
                            Reject
                        </button>

                        <!--This button will only be visible for open loans-->
                        <button
                            id="post_payment_to_loan"
                            class="button_1 shadowed_button"
                            onclick="document.getElementById('loan_payment_modal').style.display='block'"
                        >
                            Post payment
                        </button>
                    </div>
                </div>

                <div class="bottom_grid_container">

                        <div class="major_grid">
                            <h3>Loan Details</h3>
    
                            <div class="mini_grid">
                                <p><b>Status</b></p>
                                <p>Pending</p>
                            </div>
    
                            <div class="mini_grid">
                                <p><b>Amount</b></p>
                                <p>50,000</p>
                            </div>
    
                            <div class="mini_grid">
                                <p><b>Interest</b></p>
                                <p>2,500</p>
                            </div>
            
                            <div class="mini_grid">
                                <p><b>Tenor</b></p>
                                <p>12 months</p>
                            </div>
            
                            <div class="mini_grid">
                                <p><b>Installments</b></p>
                                <p>4,375</p>
                            </div>
                        </div>

                    <div class="major_grid">
                        <h3>Requesting User Details</h3>

                        <div class="mini_grid">
                            <p><b>Status</b></p>
                            <p>Verified <span style="color:green">&#x2714</span></p>
                        </div>

                        <div class="mini_grid">
                            <p><b>Email</b></p>
                            <p>email@address.com</p>
                        </div>

                        <div class="mini_grid">
                            <p><b>Name</b></p>
                            <p>first_name, last_name</p>
                        </div>
        
                        <div class="mini_grid">
                            <p><b>Phone number</b></p>
                            <p>+2341234567890</p>
                        </div>
        
                        <div class="mini_grid">
                            <p><b>Home Address</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget risus odio</p>
                        </div>

                        <div class="mini_grid">
                            <p><b>Office Address</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget risus odio</p>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <div id="loan_payment_modal" class="modal">
            <span class="close" onclick="document.getElementById('loan_payment_modal').style.display='none'">&times;</span>
            <form action="" class="modal_content">
                <div class="container">
                    <h3>Post payment to loan <code>123456789</code></h3>
                    <hr>
                    <label for="payment_amount"><b>Amount</b></label>
                    <input class="modal_input" type="text" placeholder="Enter payment amount" name="payment_amount" required>

                    <div class="clearfix">
                        <button
                            onclick="document.getElementById('loan_payment_modal').style.display='none'"
                            class="button_1 shadowed_button cancel_button">
                            Cancel
                        </button>
                        <button type="submit" class="button_1 shadowed_button save_profile_button">Post payment</button>
                    </div>
                </div>
            </form>
        </div>

        <% include ./partials/footer.ejs%>
        <script src="/js/qcredit.js"></script>
    </body>
</html>
