<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.auth.ejs %>
        </header>
        
        <section id="main_users">
            <div class="container">

                <h1 id="page_title">Users</h1>

                <div class="table_wrapper">
                    <table>
                        <tr>
                            <th>S/N</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Home Address</th>
                            <th>Office Address</th>
                        </tr>
    
                        <tr>
                            <td>1</td>
                            <td style="color:green">Verified</td>
                            <td>email@address.com</td>
                            <td>+234123456789</td>
                            <td>Jackie</td>
                            <td>Chan</td>
                            <td><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></td>
                            <td><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></td>
                        </tr>
    
                        <tr>
                            <td>2</td>
                            <td style="color:green">Verified</td>
                            <td>email@address.com</td>
                            <td>+234123456789</td>
                            <td>Marcus</td>
                            <td>Rashford</td>
                            <td><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></td>
                            <td><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></td>
                        </tr>
    
                        <tr>
                            <td>3</td>
                            <td style="color:red">Not Verified</td>
                            <td>email@address.com</td>
                            <td>+234123456789</td>
                            <td>Jose</td>
                            <td>Mourinho</td>
                            <td><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></td>
                            <td><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></td>
                        </tr>
                    </table>
                </div>

            </div>

            </div>
        </section>

        <% include ./partials/footer.ejs%>
        <script src="/js/qcredit.js"></script>
    </body>
</html>
