<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.auth.ejs %>
        </header>
        
        <section id="main_loan">
            <div class="container">

                <div class="top_grid_container">
                    <!--show the checkmark only if the load has been repaid-->
                    <div class="username">
                        <h1 id="page_title">User | <code>email@address.com</code> <span style="color:green">&#x2714</span></h1>
                    </div>

                    <div class="user_buttons">

                        <!--Each of these buttons will be available based on the user's verification status-->
                        <button
                            id="verify_user"
                            class="button_1 shadowed_button approve"
                        >
                            Verify
                        </button>

                        <button
                            id="un_verify_user"
                            class="button_1 shadowed_button reject"
                        >
                            Revoke verification
                        </button>
                    </div>
                </div>

                <div class="bottom_grid_container">

                    <div class="major_grid">
                        <h3>User Details</h3>

                        <div class="mini_grid">
                            <p><b>Status</b></p>
                            <p>Verified <span style="color:green">&#x2714</span></p>
                        </div>

                        <div class="mini_grid">
                            <p><b>Email</b></p>
                            <p>email@address.com</p>
                        </div>

                        <div class="mini_grid">
                            <p><b>Name</b></p>
                            <p>first_name, last_name</p>
                        </div>
        
                        <div class="mini_grid">
                            <p><b>Phone number</b></p>
                            <p>+2341234567890</p>
                        </div>
        
                        <div class="mini_grid">
                            <p><b>Home Address</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget risus odio</p>
                        </div>

                        <div class="mini_grid">
                            <p><b>Office Address</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget risus odio</p>
                        </div>

                    </div>
            
                    <div class="major_grid">
                        <h3>email@address.com's Recent Loans</h3>

                        <div class="table_wrapper">
                            <table>
                                <tr>
                                    <th>S/N</th>
                                    <th>Application date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                </tr>
    
                                <tr>
                                    <td>1</td>
                                    <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                                    <td>Pending</td>
                                    <td> - </td>
                                </tr>
    
                                <tr>
                                    <td>2</td>
                                    <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                                    <td style="color:green">Approved</td>
                                    <td>50,000</td>
                                </tr>
    
                                <tr>
                                    <td>3</td>
                                    <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                                    <td style="color:red">Rejected</td>
                                    <td> - </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="loan_payment_modal" class="modal">
            <span class="close" onclick="document.getElementById('loan_payment_modal').style.display='none'">&times;</span>
            <form action="" class="modal_content">
                <div class="container">
                    <h3>Post payment to loan <code>123456789</code></h3>
                    <hr>
                    <label for="payment_amount"><b>Amount</b></label>
                    <input class="modal_input" type="text" placeholder="Enter payment amount" name="payment_amount" required>

                    <div class="clearfix">
                        <button
                            onclick="document.getElementById('loan_payment_modal').style.display='none'"
                            class="button_1 shadowed_button cancel_button">
                            Cancel
                        </button>
                        <button type="submit" class="button_1 shadowed_button save_profile_button">Post payment</button>
                    </div>
                </div>
            </form>
        </div>

        <p><% include ./partials/footer.ejs </p>%>
        <script src="/js/user.js"></script>
    </body>
</html>
