<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <header id="header">
            <% include ./partials/navbar.auth.ejs %>
        </header>
        
        <section id="main_user">
            <div class="container">
                <!--show the checkmark only if the load has been repaid-->
                <div class="page_heading">
                    <h1>User | <code>email@address.com</code>
                        <span class="action_span" id="verify_user" style="color:green">&#10004;</span>
                        <span class="action_span" id="un_verify_user" style="color:red">&#10006;</span>
                    </h1>
                </div>

                <div class="">
                    <% include ./partials/user.card.ejs %>
                </div>
            
                <div class="user_grid_2 table_wrapper">
                    <h3>email@address.com's Recent Loans</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Application date</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                                <td>Pending</td>
                                <td> - </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                                <td style="color:green">Approved</td>
                                <td>50,000</td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td><time datetime="2019-01-01 08:00">01-01-2019</time></td>
                                <td style="color:red">Rejected</td>
                                <td> - </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <% include ./partials/footer.ejs%>
        <script src="/js/qcredit.js"></script>
    </body>
</html>
