body {
    font: 16px/1.5 Arial, Helvetica sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

input {
    padding: 15px;
    border:none;
    border-radius: 3px;
    background:#f1f1f1;
    margin-bottom: 10px;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

textarea {
    padding: 15px;
    border:none;
    border-radius: 3px;
    background:#f1f1f1;
    margin-bottom: 10px;
}

textarea:focus {
    background-color: #ddd;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    height: 35px;
    color: #ffffff;
    background: #132B40;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
}

.shadowed_button:hover {
    opacity: 0.8;
}

label {
    margin-bottom: 5px;
    margin-top: 20px;    
    display: block;
}

.table_wrapper {
    overflow-x: auto;
}

table {
    background: #e6e6e6;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

tr {
    border-bottom: 1px solid #cccccc;
}

th {
    white-space: nowrap;
    padding: 7px;
}

td {
    padding: 5px;
}

td div {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

/* Header */

header {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 70px;
    background: #547CFF;
    border-bottom: 3px solid #132B40;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header #brand_name:hover {
    color: #ffffff;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #132B40;
    font-weight: bold;
}

header .active a {
    color: #132B40;
    font-weight: bold;
}

/* Showcase */

#showcase {
    min-height: 400px;
    text-align: center;
    background: url('../img/architecture-bridge-buildings-374685.jpg') no-repeat 0 -500px;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 18px;
}

#newsletter {
    color: #ffffff;
    padding: 15px;
    background: #547CFF
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 25px;
}

#newsletter input[type='email'] {
    width: 250px;
}

#newsletter button.subscribe_button {
    height: 44px;
}

/* Info section */
#first_info_section {
    margin-top: 40px;
}

.info_section {
    margin-bottom: 10px;
    text-align: left;
    padding: 30px 20px;
    background: #AAD6FF;
}

footer {
    background: #132B40;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    button {
        margin-top: 5px;
    }
    header #branding,
    header nav,
    #newsletter h1,
    #newsletter form
    {
        float: none;
        text-align: center;
        width: 100%;
    }

    header nav {
        margin-bottom: 10px;
    }

    header li {
        padding: 0 5px 0 5px;
    }

    #newsletter input[type='email'] {
        width: 100%;
        margin-bottom: 5px;
    }

    #newsletter button {
        display: block;
        width: 100%;
    }

    div.bottom_grid_container,
    div.top_grid_container,
    div.mini_grid
    {
        display: grid;
        grid-template-columns: auto;
    }

    div.user_buttons {
        margin: 0
    }

    form.modal_content {
        width: 80%;
    }

    button.cancel_button, button.save_profile_button {
        width: 100%;
    }
}

/* About */
.registration_section {
    padding: 30px 20px;
}

/* registration control */
#reg_form_toggle {
    margin-top: 30px;
    display: grid;
    max-width: 650px;
    grid-template-columns: 50% 50%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.registration_div {
    background: #AAD6FF;
    text-align: center;
    cursor: pointer;
}

#reg_form_toggle h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.deselected {
    border-bottom: 1px solid #132B40;
    background: #9AC1E6;
    color:#3a81bf;
    font-size: 14px;
}

.hide_form {
    display: none;
}

/* Sign up/sign in */
#main_registration {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px 30px 30px;
    background: #AAD6FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main_registration input[type='email'], #main_registration input[type='password'] {
    display: inline-block;
    width: 100%;
}

.registration_button {
    width: 100%;
}

#main_registration h1, #main_registration p#fill_form {
    text-align: center;
}

/* Dashboard */

.user_buttons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.top_grid_container {
    margin-top: 5px;
    padding: 10px;
}

.top_grid_container, .bottom_grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.major_grid {
    padding: 10px;
    overflow-x: auto;
}

.mini_grid
{
    display: grid;
    grid-template-columns: 30% 70%;
    background: #e6e6e6;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    padding: 5px;
}

.mini_grid p
{
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0.97;
    padding-top: 50px;
    background-color: #474e5d;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

.modal_content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}

.modal_input {
    width: 100%;
    display: inline-block;
}

.cancel_button {
    background: red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancel_button, .save_profile_button {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

/* Loan */
.approve {
    background: #008000;
}

.reject {
    background: #ff0000;
}
