body {
    font: 16px/1.5 Arial, Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background: #E8E8E8;
    color: #333A56;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

/* Global */
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
}

input {
    padding: 15px;
    border:none;
    border-radius: 3px;
    background:#f1f1f1;
    margin-bottom: 10px;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

textarea {
    padding: 15px;
    border:none;
    border-radius: 3px;
    background:#f1f1f1;
    margin-bottom: 10px;
}

textarea:focus {
    background-color: #ddd;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    height: 35px;
    color: #ffffff;
    background: #333A56;
    border: 1px solid #F7F5E6;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
}

hr {
    color: #333A56;
    opacity: 0.3;
}

.shadowed_button:hover {
    opacity: 0.9;
}

/* forms */
.form_wrapper {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px 30px 30px;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form_wrapper input[type='email'],
.form_wrapper input[type='number'],
.form_wrapper input[type='text'],
.form_wrapper input[type='tel'],
.form_wrapper input[type='password'],
.form_wrapper textarea
{
    display: inline-block;
    width: 100%;
}

.form_wrapper h1,
p.form_message
{
    text-align: center;
}

label {
    margin-bottom: 5px;
    margin-top: 20px;    
    display: block;
}

/* tables */
.table_wrapper {
    overflow-x: auto;
}

table {
    background: #e6e6e6;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

tr {
    border-bottom: 1px solid #cccccc;
}

th {
    white-space: nowrap;
    padding: 7px;
}

td {
    padding: 5px;
}

td div.item_link {
    color: #ffffff;
    background: #52658F;
    text-decoration: none;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    margin: auto;
}

thead tr {
    background: #333A56;
    color: #ffffff;
}

tr:nth-of-type(2) {
    background: #ffffff;
}

td a {
    text-decoration: none;
}

td div {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

/* Header */

header {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 70px;
    background: #333A56;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header #branding h1 {
    margin: 0;
}

header a.active {
    font-weight: bold;
}

span.action_span {
    cursor: pointer;
}

ul.base_ul {
    display: flex;
}

.micro_avatar_wrapper {
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    position: relative;
    vertical-align: middle;
}

.micro_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.icon {
    width: 20px;
    display: inline-block;
}

.nav_div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.menu > ul > li {
    display: inline-block;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}

#sub_menu {
	width: 250%;
    position: absolute;
	top: 100%;
    left: -150px;
    padding: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.15s;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #F7F5E6;
    border-radius: 5px;
    color: #333A56;
    font-weight: bold;
    text-align: center;
}

.submenu_username {
    background-color: #cccccc;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.submenu_username a {
    text-transform: capitalize;
    margin: 0;
    font-size: 16px;
}

.sub_routes {
    padding: 15px 5px;
}

.submenu_hr {
    margin: 0;
}

#sub_menu a {
    color: #333A56;
}

.menu li:hover #sub_menu {
	z-index:1;
	opacity:1;
}

/* Showcase */

#showcase {
    min-height: 400px;
    text-align: center;
    background: url('../img/architecture-bridge-buildings-374685.jpg') no-repeat 0 -500px;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 18px;
}

#newsletter {
    color: #ffffff;
    padding: 15px;
    background: #333A56
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 25px;
}

#newsletter input[type='email'] {
    width: 250px;
}

#newsletter button.subscribe_button {
    height: 44px;
}

/* Info section */
.info_section {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    padding: 30px 20px;
    font-size: 24px;
    font-weight: bold;
}

.info_section li {
    padding: 20px 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #52658F;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {

    .nav_div {
        display: block;
    }

    nav {
        padding: 5px 0;
    }

    nav > ul {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }

    .container, .nav_div {
        width: 95%;
    }

    header #branding,
    #newsletter h1,
    #newsletter form
    {
        float: none;
        text-align: center;
        width: 100%;
    }

    #newsletter input[type='email'] {
        width: 100%;
        margin-bottom: 5px;
    }

    #newsletter button {
        display: block;
        width: 100%;
    }

    form.modal_content {
        width: 80%;
    }

    button.cancel_button, button.save_profile_button {
        width: 100%;
    }

    div.user_card,
    div.loan_card
    {
        margin-right: auto;
    }
}

@media (max-width: 450px) {

    /* loan */
    div.loan_card {
        display: flex;
        flex-direction: column;
    }

    div.loan_right_grid {
        margin: 0;
        text-align: center;
    }

    .user_photo,
    hr.card_divider
    {
        display: none;
    }
}

/* About */
.profile_edit,
.loan_application {
    padding: 30px 20px;
}

/* authentication */

.authentication_div {
    background: #ffffff;
    text-align: center;
    cursor: pointer;
}

#reg_form_toggle {
    margin-top: 30px;
    display: grid;
    max-width: 650px;
    grid-template-columns: 50% 50%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#reg_form_toggle h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.deselected {
    border-bottom: 1px solid #132B40;
    background: #F7F5E6;
    color:#333A56;
    font-size: 14px;
}

.hide_form {
    display: none;
}

.submit_button {
    width: 100%;
}

/* Dashboard */

.card {
    padding: 10px;
    max-width: 500px;
    margin-bottom: 15px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 3px ghostwhite;
}

.user_card {
    margin-right: auto;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 30% 1% 68%;
}

.user_photo {
    margin: auto;
}

.user_photo img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.user_info {
    margin: auto auto auto 5px;    
}

.user_address {
    margin-right: auto;
}

.admin_actions_buttons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0.97;
    padding-top: 50px;
    background-color: #474e5d;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

.modal_content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}

.modal_input {
    width: 100%;
    display: inline-block;
}

.cancel_button {
    background: red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancel_button, .save_profile_button {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

/* Loan */
.approve {
    background: #008000;
}

.reject {
    background: #ff0000;
}

.loan_card {
    display: grid;
    grid-row-gap: 50px;
    margin-right: auto;
    font-weight: bold;
    grid-template-columns: 30% 1% 68%;
}

.loan_left_grid {
    font-size: 28px;
    text-align: center;
}

.loan_left_grid p.status {
    color: green;
}

.loan_right_grid {
    margin: auto auto auto 5px;    
}
